body{
    height: 100vh;
    width: 100vw;
    display: grid;
    overflow: hidden;
    background: url(./img/gifFundo.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #CD5151;
}
